<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
    <link rel="stylesheet" href="{{url_for('static',filename='show_user_style.css')}}">
</head>
<body>
    <div class="hello">
        <h1>Привет ,{{username}}</h1>
        <a href="/todolist">Список задач</a>
        <a href="/logout">Выйти</a>

        <h2>Твои задачи: </h2>

        {% for task in tasks %}
            <li>
                {{task["title"]}} - {{task["status"]}}
            </li>
        {% endfor %}
    </div>
</body>
</html>